
h1 {
    background-color: powderblue;
  }
  h1 {
    color: rgb(49, 49, 153);
  }

h2{
        color: #00CCFF;
  }

  title{
    font-family: Sans-serif; background-color: aliceblue;
    }

    button{
        font-size: 13px; color: darkcyan; 
        }